omegaconf==2.0.6
opencv-python==4.7.0.68
pandas==1.5.3
pillow==9.4.0
pip==22.3.1
pytorch-lightning==1.9.1
pyturbojpeg==1.7.0
timm==0.6.12
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.1
torchvision==0.14.1
transformers==4.26.1
wandb==0.13.10
x-transformers==1.9.2